.form {
  height: 400px;
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
}

.input {
  height: 50px;
  width: 100%;
  border: 1px solid #999999;
  border-radius: 20px;
  margin: 20px 0;
  font-size: 18px;
  padding: 0 20px;
}
.container {
  height: 30%;
}

.select {
  margin: 20px 0;
  height: 40px;
  width: 50%;
  display: block;
  border-radius: 25px;
  font-size: 18px;
  padding-left: 15px;
}

.button {
  margin: auto !important;
}
