.container {
  position: absolute !important;
  right: 10px;
  top: 25px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}
.title {
  font-size: 24px !important;
  margin: auto !important;
}
