.cardsContainer {
  margin: auto;
  margin-top: 80%;
}
.cardContainer {
  display: flex !important;
  position: relative !important;
  width: 150px;
  box-shadow: none !important;
  margin: 20px;
}
.image {
  width: 150px;
}

.carrousel {
  width: 100%;
}
