.cardsContainer {
  margin: auto;
  position: absolute;
  bottom: 120px;
  @media (max-width: 1280px) {
    bottom: 200px;
  }
}
.cardContainer {
  display: flex !important;
  position: relative !important;
  width: 150px;
  box-shadow: none !important;
  margin: 20px;
}
.image {
  width: 150px;
}

.carrousel {
  width: 100%;
}
