.container {
  margin: 30px auto;
  width: 100% !important;
  position: absolute;
  bottom: 20px;
  text-align: center;
  display: flex !important;
  justify-content: space-between !important;

  @media (max-width: 1280px) {
    display: block !important;
    bottom: 0;
  }
}
.stopIcon {
  margin-right: 10px;
}
